---
layout: no-header-no-footer
title: All Trips
permalink: /reachout/go/all-trips/
---

{% include trips/_trips-header.html %}

<div style="margin-top: -12px;">
  <section class="nav bg-gray soft-half">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center font-size-small">
            <ul class="list-inline flush" id="filterOptions">
              <li class="active btn btn-secondary button"><a href="#" class="all"><span class="text-white soft-quarter">View all</span></a></li>
              <li class="btn btn-secondary button text-white"><a href="#" class="bolivia"><span class="text-white soft-quarter">Bolivia</span></a></li>
              <li class="btn btn-secondary button text-white"><a href="#" class="haiti"><span class="text-white soft-quarter">Haiti</span></a></li>
              <li class="btn btn-secondary button text-white"><a href="#" class="india"><span class="text-white soft-quarter">India</span></a></li>
              <li class="btn btn-secondary button text-white"><a href="#" class="new-orleans"><span class="text-white soft-quarter">New Orleans</span></a></li>
              <li class="btn btn-secondary button text-white"><a href="#" class="nicaragua"><span class="text-white soft-quarter">Nicaragua</span></a></li>
              <li class="btn btn-secondary button text-white"><a href="#" class="puerto-rico"><span class="text-white soft-quarter">Puerto Rico</span></a></li>
              <li class="btn btn-secondary button text-white"><a href="#" class="south-africa"><span class="text-white soft-quarter">South Africa</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p>
    {% include _trip-grid.html %}

  </p>
{% include trips/_trips-footer.html %}

</div>
<script type="text/javascript">
  document.addEventListener('deferred-js-ready', function () {
    $(document).ready(function () {
      $('#filterOptions li a').click(function () {
        var ourClass = $(this).attr('class');
        console.log(ourClass)
        $('#filterOptions li').removeClass('active');
        $(this).parent().addClass('active');

        if (ourClass == 'all') {
          $('#ourHolder').children().show();
        } else {
          $('#ourHolder').children('div:not(.' + ourClass + ')').hide();
          $('#ourHolder').children('div.' + ourClass).show();
        }

        return false;
      });
    });

    new CRDS.CardCarousels();
    new CRDS.CardFilters();
    $.each(CRDS._instances, function (k, v) { v.addStyles() });
    $(document).ready(function () {
      $('footer.hidden-print').addClass('flush-top');
      $('.bg-blue-dark ~ p').remove('p');
      $('.ng-scope> .crds-styles> .container-fluid.main> .row> .col-md-12').removeClass('col-md-12');

    });
  });
</script>
