---
layout: no-header-no-footer
title: Go
permalink: /reachout/go/
---

{% include trips/_trips-header.html %}

  <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4 class="modal-title">Need a reminder?</h4>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
        </div>
        <div class="modal-footer">
          <div class="btn-block-mobile">
            <button type="button" class="btn btn-cyan btn-lg">Primary Action</button>
            <button type="button" class="btn btn-cyan btn-outline btn-lg">Secondary Action</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron inline-video bg-video jumbotron-xl flush-bottom" style="margin-top: -12px;">
    <div class="inline-video-player"></div>
    <div class="bg-video-player"><video width="360" height="240" class="bg-jumbotron-video hide" autoplay="autoplay" loop="loop" muted="" playsinline="" src="https://s3.amazonaws.com/crds-cms-uploads/media/video/GoSomewhere-loop-crf30.mp4"><object width="360" height="240" data="https://content.crossroads.net/framework/thirdparty/tinymce/plugins/media/moxieplayer.swf" type="application/x-shockwave-flash"><param name="src" value="https://content.crossroads.net/framework/thirdparty/tinymce/plugins/media/moxieplayer.swf"><param name="flashvars" value="url=https%3A//s3.amazonaws.com/crds-cms-uploads/media/video/GoSomewhere-loop-crf30.mp4&amp;poster=/"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="true"></object> </video></div>
    <div class="jumbotron-content">
      <div class="row">
        <div class="text-center col-xs-offset-3 col-xs-3 col-sm-offset-5 col-sm-2 col-md-offset-5 col-md-2"><img data-src="https://crds-cms-uploads.imgix.net/content/images/crossroads-go-logo-white.png" class="img-responsive imgix-fluid" alt="" title=""></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="flush-top font-family-condensed-extra text-uppercase header-video-header-text"><strong>You were born for adventure</strong></h1>
          <h5 class="lead header-video-header-text" style="color: white;">And the opportunity is right in front of you.</h5>
          <p class="text-center"><a class="btn btn-primary inline-video-trigger" data-video-id="ec377G57gUk" href="#">Watch Chris's story</a><a class="btn btn-gray" href="/reachout/go/all-trips/">Sign up for a Trip</a></p>
        </div>
      </div>
    </div>
  </div><div class="bg-gray" style="margin-top: -30px;">
    <div class="container">
      <div class="row push-bottom">
        <div class="col-md-12 push-top push-bottom">
          <h2 class="text-center font-family-base font-size-h3 mobile-soft-sides">A life-changing adventure awaits</h2>
          <div class="row soft-sides">
            <div class="col-xs-12 col-sm-4 col-md-4 text-left push-top push-bottom soft-sides">
              <div class="row">
                <div class="col-xs-3 col-sm-4 col-md-3 push-top"><img class="img-responsive imgix-fluid" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-step1.png" alt="" title=""></div>
                <div class="col-xs-9 col-sm-8 col-md-9">
                  <h3 class="font-family-condensed-extra text-uppercase font-size-h4" style="line-height: .9em;"><span style="color: #979797;">Step 1</span><br>Choose your trip</h3>
                  <p class="font-family-base">Over 15 trips to six countries across four continents.</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-left push-top push-bottom soft-sides">
              <div class="row">
                <div class="col-xs-3 col-sm-4 col-md-3 push-top"><img class="img-responsive imgix-fluid" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-step2.png" alt="" title=""></div>
                <div class="col-xs-9 col-sm-8 col-md-9">
                  <h3 class="font-family-condensed-extra text-uppercase font-size-h4" style="line-height: .9em;"><span style="color: #979797;">Step 2</span><br>Sign Up</h3>
                  <p class="font-family-base">Jump in and prepare for your experience.</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-left push-top push-bottom soft-sides">
              <div class="row">
                <div class="col-xs-3 col-sm-4 col-md-3 push-top"><img class="img-responsive imgix-fluid" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-step3.png" alt="" title=""></div>
                <div class="col-xs-9 col-sm-8 col-md-9">
                  <h3 class="font-family-condensed-extra text-uppercase font-size-h4" style="line-height: .9em;"><span style="color: #979797;">Step 3</span><br>GO</h3>
                  <p class="font-family-base">Join a team of crazy adventurers who, like you, said yes to a life-changing story.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center"><a href="/reachout/go/all-trips/" class="btn btn-gray font-family-base">Sign up for a Trip</a></div>
        </div>
      </div>
    </div>
  </div><div class="container push-bottom">
    <div class="row push-top">
      <div class="col-md-12 text-center">
        <p class="text-center font-size-large font-family-condensed-extra flush-bottom text-muted">TRIPS</p>
        <h2 class="text-center font-family-base flush-top font-size-h3">Where we go</h2>
      </div>
    </div>
    <div class="cards-2x">
      <div class="row">
        <div class="card push-ends"><a href="/reachout/go/haiti/"><img alt="Haiti" class="imgix-fluid img-full-width img-responsive" data-src="//images.ctfassets.net/y3a9myzsdjan/2u8JKtmidpAYleDrjkaDSV/2c4992031daafa376edd5a94621842aa/go-haiti-card.jpg" title="" data-optimize-img></a>
          <div>
            <h4 class="card-title font-family-condensed-extra text-uppercase" style="line-height: .9em;"><a href="/reachout/go/haiti/">HAITI</a></h4>
            <p class="card-text font-size-small">Haiti is the poorest country in the Western Hemisphere, and we feel that God calls us to help the least, the lost, and the lonely. We are currently exploring options to work in Haiti and are excited about the possibilities. Please sign up here to be kept up to date on the process and be the first ones to know when trips will begin to Haiti.</p>
            <a class="btn btn-sm btn-primary" href="/reachout/go/haiti/">More info</a>
            <a class="btn btn-sm btn-primary" href="https://share.hsforms.com/1Bm_Y_wX0T2ehi_FpYZZ8tw2dls1">Sign Up</a>
          </div>
        </div>
        <div class="card push-ends"><a href="/reachout/go/india/"><img alt="India" class="imgix-fluid img-full-width img-responsive" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-gotrips-locations-india.jpg" title="" data-optimize-img></a>
          <div>
            <h4 class="card-title font-family-condensed-extra text-uppercase" style="line-height: .9em;"><a href="/reachout/go/india/">INDIA</a></h4>
            <p class="card-text font-size-small">The second most populous country in the world, India is a land full of vivid colors, smells and cultures. India is also a major source, destination, and transit country for women and children subjected to sex trafficking. Join us as we support Indian partners providing housing, education, job readiness, social enterprise and community to rescued survivors of trafficking. We are fighting along side of the Indian Christian Church to fully eradicate this harrowing form of oppression.</p>
            <a class="btn btn-sm btn-primary" href="/reachout/go/india/">View India trips</a>
          </div>
        </div>
        <div class="card push-ends"><a href="/reachout/go/south-africa/"><img alt="South Africa" class="imgix-fluid img-full-width img-responsive" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-gotrips-locations-south-africa.jpg" title="" data-optimize-img></a>
          <div>
            <h4 class="card-title font-family-condensed-extra text-uppercase" style="line-height: .9em;"><a href="/reachout/go/south-africa/">South Africa</a></h4>
            <p class="card-text font-size-small">South Africa is a land of incredible potential, but it faces barriers of extreme poverty, the AIDS epidemic, and a heartbreaking lack of fathers and mothers for thousands of orphans and vulnerable children. Join the work that’s changing the destiny of a nation.</p>
            <a class="btn btn-sm btn-primary" href="/reachout/go/south-africa/">View South Africa trips</a>
          </div>
        </div>
        <div class="card push-ends"><a href="/reachout/go/nicaragua/"><img alt="Nicaragua" class="imgix-fluid img-full-width img-responsive" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-gotrips-locations-nicaragua.jpg" title="" data-optimize-img></a>
          <div>
            <h4 class="card-title font-family-condensed-extra text-uppercase" style="line-height: .9em;"><a href="/reachout/go/nicaragua/">Nicaragua</a></h4>
            <p class="card-text font-size-small">Nicaragua is the 2nd poorest country in the Western Hemisphere. Contaminated water is one of the many problems that plagues a large percentage of it’s citizens. Crossroads has a connection with Nicaragua through the 5000+ kids that are sponsored there through Compassion International.</p>
            <a class="btn btn-sm btn-primary" href="/reachout/go/nicaragua/">View Nicaragua trips</a>
          </div>
        </div>
        <div class="card push-ends"><a href="/reachout/go/bolivia/"><img alt="Bolivia" class="imgix-fluid img-full-width" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-gotrips-locations-bolivia.jpg" title="" data-optimize-img></a>
          <div>
            <h4 class="card-title font-family-condensed-extra text-uppercase" style="line-height: .9em;"><a href="/reachout/go/bolivia/">Bolivia</a></h4>
            <p class="card-text font-size-small">Bolivia is a land-locked nation in Central South America that has a population of roughly 11 million people. Bolivia is the poorest country in South America where the majority live on less than 5 dollars a day. Spanish is the primary language with some areas speaking native dialects. Bolivia has fascinating and beautiful geography from the mountainous northern regions to the eastern jungles and southern deserts. The majority of Bolivians identify as Catholic in religious background.</p>
            <a class="btn btn-sm btn-primary" href="/reachout/go/bolivia/">View Bolivia trips</a>
          </div>
        </div>

        <div class="card push-ends">
          <a href="/reachout/go/puerto-rico">
            <img alt="Puerto Rico" class="imgix-fluid img-full-width img-responsive" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-gotrips-locations-puerto-rico.jpg" title="" data-optimize-img>
          </a>
          <div>
            <h4 class="card-title font-family-condensed-extra text-uppercase" style="line-height: .9em;"><a href="/reachout/go/new-orleans/">Puerto Rico</a></h4>
            <p class="card-text font-size-small">Home to over 270 miles of beautiful beaches and diverse culture, Puerto Rico was once known as a prime destination vacation spot. However, Hurricanes Irma and Maria, two of the most devastating hurricanes in the past century, wiped out local infrastructure and destroyed thousands of homes. The island and its people are still dealing with the aftermath.</p>
            <a class="btn btn-sm btn-primary" href="/reachout/go/puerto-rico/">View Puerto Rico trips</a>
          </div>
        </div>

        <div class="card push-ends"><a href="/reachout/go/new-orleans/"><img alt="New Orleans" class="imgix-fluid img-full-width img-responsive" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-gotrips-locations-nola.jpg" title="" data-optimize-img></a>
          <div>
            <h4 class="card-title font-family-condensed-extra text-uppercase" style="line-height: .9em;"><a href="/reachout/go/new-orleans/">New Orleans</a></h4>
            <p class="card-text font-size-small">What started as a disaster relief trip in 2008 to New Orleans has turned into a trip filled with strong relationships and friends. We aren't going to New Orleans to provide relief from Hurricane Katrina, we are going to help our friends and their community transform lives through relationships and hard work.</p>
            <a class="btn btn-sm btn-primary" href="/reachout/go/new-orleans/">View New Orleans trips</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron text-center soft" style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-gotrips-why.jpg&#039;);">
    <div class="container soft push-ends mobile-hard">
      <div class="row soft push-ends mobile-hard">
        <div class="col-md-offset-1 col-md-10 soft push-ends"><span class="font-size-h3 font-family-accent push-top hidden-xs" style="color: #fff; line-height: 1.2em;">“This trip has been an incredible experience and one of great growth. It has impacted me in many ways and I believe that it is the beginning of a great journey to follow the path of our Lord, to be a better man, a great husband and a family leader.”</span> <span class="font-size-h4 font-family-accent push-top visible-xs" style="color: #fff; line-height: 1.2em;">“This trip has been an incredible experience and one of great growth. It has impacted me in many ways and I believe that it is the beginning of a great journey to follow the path of our Lord, to be a better man, a great husband and a family leader.”</span>
        </div>
      </div>
    </div>
  </div><div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 text-center push-ends push-bottom">
        <h2 class="text-center font-family-base font-size-h3">Go on an adventure</h2>
        <p class="font-family-base font-size-base" style="color: #464646;">Each year, hundreds of people change their lives by taking GO trips around the world to India, New Orleans, Nicaragua, Bolivia, and South Africa. Each trip builds cross-cultural bridges, sustainability improves the lives of locals, and creates lasting friendships for those sharing the experience.</p>
        <a href="https://www.crossroads.net/reachout/go/all-trips" class="btn btn-primary">View all trips</a>
      </div>
    </div>
  </div>
  {% include trips/_trips-footer.html %}

  <script type="text/javascript">// <![CDATA[
    new CRDS.JumbotronVideos();
    // ]]></script>
