---
layout: no-header-no-footer
title: "Haiti"
permalink: /reachout/go/haiti/
trip_location: haiti
---

{% include trips/_trips-header.html %}
<div class="jumbotron" style="background-image: url(&#039;//images.ctfassets.net/y3a9myzsdjan/pp2GTygzQUMgf9BoMgN9f/8c0b1eb05cc0ef8a14ebd0fa7412e894/haiti-go-header.jpg&#039;); margin-top: -12px;">
  <div class="container">
    <div class="row push-top push-bottom soft-sides soft-ends">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 push-top text-center"><img data-src="//images.ctfassets.net/y3a9myzsdjan/8Vp7EuLyg13MT3zhUj6vH/44446838e857a78fcb0dd516dfadefe8/crossroads-go-logo-haiti.png"
          class="imgix-fluid img-responsive" alt="" title=""></div>
      <div class="col-md-10 col-md-offset-1 col-sm-12 push-top text-center"><span class="lead $cr-white" style="color: #fff;">Haiti is the poorest country in the Western Hemisphere, and we feel that God calls us to help the least, the lost, and the lonely. We are currently exploring options to work in Haiti and are excited about the possibilities. Please sign up here to be kept up to date on the process and be the first ones to know when trips will begin to Haiti. </span>
        <br><br><a class="btn btn-lg btn-cyan" href="https://share.hsforms.com/1Bm_Y_wX0T2ehi_FpYZZ8tw2dls1">Sign Up For More Info</a>
      </div>
    </div>
  </div>
</div>
{% include trips/_trips-footer.html %}

<script type="text/javascript">// <![CDATA[
  $('.india').hide();
  $('.bolivia').hide();
  $('.nicaragua').hide();
  $('.south-africa').hide();
  $('.houston').hide();
  $('.button-group').hide();
  $('.nav').hide;
// ]]></script>
