---
layout: no-header-no-footer
title: India
permalink: /reachout/go/india/
trip_location: india
---

{% include trips/_trips-header.html %}
<div class="jumbotron" style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-india.jpg&#039;); margin-top: -12px;">
  <div class="container">
    <div class="row push-top push-bottom soft-sides soft-ends">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 push-top text-center"><img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-logo-india.png"
          class="imgix-fluid img-responsive" alt="" title=""></div>
      <div class="col-md-10 col-md-offset-1 col-sm-12 push-top text-center"><span class="lead $cr-white" style="color: #fff;">No
          one has ever returned from India, unchanged. You’ll be immersed in a culture that awakens all your senses and
          gives you a powerful, concrete understanding of the justice work happening every day to fight human
          trafficking and the exploitation of women and children. Each trip to India has its own bent and purpose, but
          every experience will take you deep into the heart of others and give you the chance to be part of God’s
          movement toward radical freedom. (And this freedom awaits you, too.)</span></div>
    </div>
  </div>
</div>
<div class="container push-top soft-sides">
  <div class="row soft-sides">
    <div class="col-md-12 text-center">
      <p class="text-center font-size-large font-family-condensed-extra flush-bottom text-muted">FIND YOURS</p>
      <h2 class="text-center font-family-base flush-top font-size-h3">Trips</h2>
    </div>
  </div>
</div>
<p>
  {% include _trip-grid.html %}
</p>
<div>
  <div class="jumbotron text-center soft flush-bottom" style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-go-about-india.jpg&#039;);">
    <div class="container soft push-ends mobile-hard">
      <div class="row soft push-ends mobile-hard">
        <div class="col-xs-12 col-md-offset-2 col-md-8 soft push-ends"><span class="font-size-h3 font-family-accent push-top hidden-xs"
            style="color: #fff; line-height: 1.2em;">“India sparked something in me that won’t be able to be smothered.
            I see everything through such a different lens now. I am glad I allowed that spark to fan into a flame, a
            new life - the life that God has called me to live.”</span> <span class="font-size-h4 font-family-accent push-top visible-xs"
            style="color: #fff; line-height: 1.2em;">“India sparked something in me that won’t be able to be smothered.
            I see everything through such a different lens now. I am glad I allowed that spark to fan into a flame, a
            new life - the life that God has called me to live.”</span></div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center push-ends">
          <h3 class="font-family-condensed-extra text-uppercase font-size-h2 $cr-white push-top" style="line-height: .9em; color: #fff;">Change
            that will last</h3>
          <p class="lead white" style="color: #fff;">We partner with organizations to build lasting and effective
            change.</p>
        </div>
      </div>
      <div class="row push-bottom" style="display: flex; flex-wrap: wrap;">
        <div class="col-sm-4 push-ends soft">
          <h4 class="component-header text-white">JEEVAN AADHAR</h4>
          <p class="text-white">Jeevan Aadhar (JA) is an Indian company with a heart. For years, JA has provided
            highest quality aftercare services for survivors of child sexual exploitation. Their philosophy is that
            with care, time and community support, these girls are able to recover and thrive – living full, restored,
            reintegrated lives. Their family style homes empower survivors to heal physically and emotionally in a
            secure environment. Now, JA is expanding it's work to implement cutting edge child sexual abuse prevention
            training through a partnership with the most successful prevention organization in the U.S: Darkness2Light.
            The United Nations recognized D2L's effectiveness in this field and now D2L and Jeevan Aadhar are working
            to "Indianize" D2L's ‘Stewards of Children’ program into the Indian cultural context.</p>
          <a class="btn btn-white btn-outline" href="http://jeevan-aadhar.org/" target="_blank">Learn more about Jeevan
            Aadhar</a>
        </div>
        <div class="col-sm-4 push-ends soft">
          <h4 class="component-header text-white">MAHIMA HOME</h4>
          <p class="text-white">Located in Kolkata, India, the Mahima Home serves over 100 women and children. Their
            aftercare facilities are designed for the rescue and restoration of girls who were trafficked as minors
            into the sex trade. The homes provide a safe haven where the girls receive physical, emotional, social and
            spiritual healing, vocational training and community, while the prosecution of perpetrators is aggressively
            pursued. <br><br>Mahima also has a home for children who are considered at great risk for being abducted
            into the trade. They recently launched an educational program to bring awareness of the dangers and
            prevention methods for violent sexual oppression. The goal is for this program to reach thousands of
            residents in nearby villages over the next couple years.</p>
        </div>
        <div class="col-sm-4 push-ends soft">
          <h4 class="component-header text-white">Nepalese Home / Apple of God’s Eyes</h4>
          <p class="text-white">The Nepalese Home, in partnership with Apple of God's Eyes, is a Nepali organization
            that acts more like a huge family than like a charitable organization. More than 150 trafficking survivors
            and children at risk of trafficking reside together in homes led by second and third generation leaders,
            many whom themselves grew up in the homes. They have a school where the Apple kids can learn together with
            kids from the neighborhood and they provide educational scholarships in high risk, extremely impoverished
            rural communities to over 1,000 kids. Founded by Brazilians and run by Nepalis, Apple is the place to
            celebrate, to cry, to learn and to love!</p>
        </div>
        <div class="col-sm-4 push-ends soft">
          <h4 class="component-header text-white">Five14Nepal</h4>
          <p class="text-white">Five14 is a Nepali adventure touring company who believes in responsible travel and
            believes community partnerships can result in a better life for everyone. Five14's team of Nepalese and
            internationals love adventure and the people of Nepal. They think everyone should experience the beauty of
            Nepal and bring hope to the people, while they are there. Five14 does this by taking tourism and trekking
            routes off the beaten path and through places which have been hardest hit by exploitation, disaster, and
            poverty. Five14 adventurers take home the beauty of the Himalayas in their hearts but leave knowing their
            projects and relationships made a real difference.</p>
          <a class="btn btn-white btn-outline" href="http://www.five14nepal.com/" target="_blank">Learn more about
            Five14</a>
        </div>
        <div class="col-sm-4 push-ends soft">
          <h4 class="component-header text-white">Freeset</h4>
          <p class="text-white">Freeset is a fair trade business offering employment to women trapped in Kolkata's sex
            trade. They make quality bags, organic cotton t-shirts, and ultimately are in the business of freedom.
            Freeset is located in Sonagacchi, the largest, most infamous sex district in Kolkata, India. Within a few
            square miles more than 10,000 women are forced to sell their bodies to thousands of men who visit daily.
            Many are trafficked from Bangladesh, Nepal and rural India. For others, poverty has left them without
            options. <br><br>Since 2001, Freeset has been providing a sustainable alternative form of employment for
            these women. They offer skills training, employment, child care and a literacy program. Today more than 200
            women are on the journey to Freedom through Freeset.</p>
          <a class="btn btn-white btn-outline" href="http://freesetglobal.com/" target="_blank">Learn more about
            Freeset</a>
        </div>
        <div class="col-sm-4 push-ends soft">
          <h4 class="component-header text-white">Justice Ventures International</h4>
          <p class="text-white">Justice Ventures International (JVI) secures freedom, justice and restoration for the
            poor and oppressed by strengthening ventures that promote justice. India, with over 1.1 billion people, has
            a growing economy and a rich cultural history. At the same time, according to World Bank, approximately two
            thirds of Indians live with an income of less than $2 a day. Millions suffer from human trafficking and
            other extreme forms of injustice due to poverty, corruption, discrimination, and other unjust causes. JVI
            works with local partners to address these issues, bringing greater freedom, justice and restoration to the
            poor and oppressed.</p>
          <a class="btn btn-white btn-outline" href="http://www.justiceventures.org/our_work/india/" target="_blank">Learn
            more about JVI</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container push-ends">
    <div class="row push-ends">
      <div class="col-md-12 text-center push-bottom">
        <p class="text-center font-size-large font-family-condensed-extra flush-bottom text-muted">FAQS</p>
        <h2 class="text-center font-family-base flush-top font-size-h3">You have questions? We have answers.</h2>
      </div>
      <div class="col-md-4 soft-sides mobile-soft-top">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4 push-bottom" style="line-height: .9em;">What
          Work Will We Be Doing In India?</h4>
        <p class="font-size-small font-family-base">It depends on the trip. In the past, we've run camps and days of
          fun for survivors, done construction projects for freedom businesses, replenished supplies, deep
          cleaned/painted homes, and so much more. We do whatever our partners need, to assist them in the the arduous
          work they do on a daily basis.</p>
      </div>
      <div class="col-md-4 soft-sides">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4 push-bottom" style="line-height: .9em;">What
          Will We Eat In India?</h4>
        <p class="font-size-small font-family-base">If dining like a local, get ready for copious amounts of rice,
          Indian bread (naan and rotis--think flatbread), vegetable curries, stir fry. Vegetarian options are always
          available. Red meat is scarce. Chai tea is available everywhere you go. While everything you eat will likely
          have an Indian flare, there are many continental restaurants with foods to satisfy a more bland palate. We
          always manage to find Western Style pizza a least once!</p>
      </div>
      <div class="col-md-4 soft-sides">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4 push-bottom" style="line-height: .9em;">Where
          Will We Stay?</h4>
        <p class="font-size-small font-family-base">Generally, we stay in safe and comfortable western style hotels or
          retreat centers.</p>
      </div>
      <div class="col-md-12 text-center push-bottom"><a href="/reachout/go/faqs/faqs-india/" class="push-top btn btn-primary btn-sm">View
          all FAQs</a></div>
    </div>
  </div>
</section>
{% include trips/_trips-footer.html %}
