---
layout: no-header-no-footer
title: Info Session
permalink: /reachout/go/info-session/
---

{% include trips/_trips-header.html %}

    <section>
      <div class="container">
        <div class="row push-ends">
          <div class="col-md-12 text-center">
            <h1 class="font-family-base-light push-ends">GO Trip Info Sessions</h1>
            <div class="col-md-12">
          </div>
        </div>
      </div>
    </div>
    </section>
    <section>
      <div class="container">
      <div class="row">
        <div class="col-md-12 text-center soft-sides">

          <p class="lead soft-sides">Check out the videos below.</p>
          <div><span>Still have questions? We totally get it. Check out the <a href="https://www.crossroads.net/reachout/go/faqs" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.crossroads.net/reachout/go/faqs&amp;source=gmail&amp;ust=1503066616151000&amp;usg=AFQjCNHIRiIRg2CclDSB1y_c_c5i-yPG3Q">FAQ page</a> for answers. For specific questions, contact us at <a href="mailto:gotrips@crossroads.net" target="_blank">gotrips@crossroads.net</a>. </span></div>
        </div>
      </div>
      <div class="col-md-4 push-ends soft-sides"><a href="https://youtu.be/Y6SG7ig9Wos" target="_blank"><img class="imgix-fluid img-full-width" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-infosession1.jpg" alt="" title="crossroads go info session2"></a>
        <h3 class="font-family-condensed-extra text-uppercase push-half-top flush-bottom font-size-h4" style="line-height: .9em;"><a href="https://youtu.be/xAjOJ1BpHqw" target="_blank">Part 1:<br>Vision</a></h3>
      </div>
      <div class="col-md-4 push-ends soft-sides"><a href="https://youtu.be/Ha1DmGHXAYQ" target="_blank"> <img class="imgix-fluid img-full-width" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-infosession2.jpg" alt="" title="crossroads go info session2"></a>
        <h3 class="font-family-condensed-extra text-uppercase push-half-top flush-bottom font-size-h4" style="line-height: .9em;"><a href="https://youtu.be/Ha1DmGHXAYQ" target="_blank">Part 2:<br>Experience</a></h3>
      </div>
      <div class="col-md-4 push-ends soft-sides"><a href="https://youtu.be/khxqRJ7jkzg" target="_blank"> <img class="imgix-fluid img-full-width" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-infosession3.jpg" alt="" title="crossroads go info session2"></a>
        <h3 class="font-family-condensed-extra text-uppercase push-half-top flush-bottom font-size-h4" style="line-height: .9em;"><a href="https://youtu.be/khxqRJ7jkzg" target="_blank">Part 3:<br>How to GO</a></h3>
      </div>
    </div>
  </section><section><div class="container">
    <div class="row push-bottom"><hr><div class="col-md-offset-2 col-md-8 text-center">
      <h3 class="font-family-base-light push-ends">What's a GO trip like?</h3>
      <p class="lead soft-sides">Check out the video</p>
      <div class="embed-responsive embed-responsive-16by9"><iframe width="320" height="240" src="https://www.youtube.com/embed/ec377G57gUk" frameborder="0" allowfullscreen=""></iframe></div>
    </div>
  </div>
</div>
</section>
{% include trips/_trips-footer.html %}
