---
layout: no-header-no-footer
title: New Orleans
permalink: /reachout/go/new-orleans/
trip_location: new-orleans
---

{% include trips/_trips-header.html %}
<div class="jumbotron" style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-new-orleans.jpg&#039;); margin-top: -12px;">
  <div class="container">
    <div class="row push-top push-bottom soft-sides soft-ends">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 push-top text-center"><img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-logo-new-orleans.png"
          class="imgix-fluid img-responsive" alt="" title=""></div>
      <div class="col-md-10 col-md-offset-1 col-sm-12 push-top text-center"><span class="lead $cr-white" style="color: #fff;">We
          are going back to New Orleans! The “Big Easy” is a city unlike any other. What started as a disaster relief
          trip in 2008 to New Orleans has turned into a trip filled with strong relationships and friends. We aren't
          going to New Orleans to provide relief from Hurricane Katrina, we are going to help our friends and their
          community transform lives through relationships and hard work. </span></div>
    </div>
  </div>
</div>
<div class="container push-top soft-sides">
  <div class="row soft-sides">
    <div class="col-md-12 text-center">
      <p class="text-center font-size-large font-family-condensed-extra flush-bottom text-muted">FIND YOUR TRIP</p>
      <h2 class="text-center font-family-base flush-top font-size-h3">Trips</h2>
    </div>
  </div>
</div>
<p>
  {% include _trip-grid.html %}
</p>
<section>
  <div class="bg-primary">
    <div class="container">
      <div class="row push-bottom">
        <div class="col-md-12 text-center push-ends">
          <h3 class="font-family-condensed-extra text-uppercase font-size-h2 $cr-white push-top" style="line-height: .9em; color: #fff;">Change
            that will last</h3>
          <p class="lead white" style="color: #fff;">We partner with organizations in New Orleans to build lasting and
            effective change.</p>
        </div>
        <div class="col-sm-4 col-md-4 soft text-left push-bottom"><img class="imgix-fluid img-responsive" alt="" title=""
            data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-nola-fabc.jpg">
          <h4 class="component-header text-white">Franklin Avenue Baptist Church</h4>
          <p class="text-white">FABC (Franklin Avenue Baptist Church) was a partnership that turned into a true
            friendship. Over the course of 10 years we have built community and friends helping each other out. FABC
            sends a group of people to help us in GO Local every other year and we love helping FABC care for their
            community. This can look like helping elderly community members with minor home repair/painting projects to
            helping run a vacation bible camp for the children.</p>
        </div>
        <div class="col-sm-4 col-md-4 soft text-left push-bottom"><img class="imgix-fluid img-responsive" alt="" title=""
            data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-nola-hands-on.jpg">
          <h4 class="component-header text-white">Hands On</h4>
          <p class="text-white">Hands On works to engage, empower and transform their community through volunteer
            service. This can be anything from helping to paint and beautify schools to cleaning up parks for children
            and families to play and be in community together. When people do life together it is better for everyone
            and this is how Hands On helps New Orleans.</p>
        </div>
        <div class="col-sm-4 col-md-4 soft text-left push-bottom"><img class="imgix-fluid img-responsive" alt="" title=""
            data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-nola-habitat.jpg">
          <h4 class="component-header text-white">Habitat for Humanity</h4>
          <p class="text-white">Habitat for Humanity goal is to build homes in partnership with sponsors, volunteers,
            communities, and homeowner families, whereby families are empowered to transform their own lives; and to
            eliminate substandard housing in the New Orleans area while serving as a catalyst to make decent shelter a
            matter of conscience and action. And like all partners in NOLA this isn’t just a national organization, we
            have ten years of relationship with the local Habitat.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container push-ends">
    <div class="row push-ends">
      <div class="col-md-12 text-center push-bottom">
        <p class="text-center font-size-large font-family-condensed-extra flush-bottom text-muted">FAQS</p>
        <h2 class="text-center font-family-base flush-top font-size-h3 push-bottom">You have questions? We have
          answers.</h2>
      </div>
      <div class="col-md-4 soft-sides push-bottom mobile-soft-top mobile-push-sides">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4 push-bottom" style="line-height: .9em;">Who
          can go?</h4>
        <p class="font-size-small font-family-base"><strong>This trip is for anyone</strong><br>Crossroads people,
          non-Crossroads people, friends and family from out of town, people from all over the faith spectrum—with a
          heart for serving. The only requirement is that you are 18 years old, or 13 years old with a parent or
          guardian. And groups of two or more, like families or small groups, can sign up together.</p>
      </div>
      <div class="col-md-4 soft-sides push-bottom mobile-push-sides">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4 push-bottom" style="line-height: .9em;">How
          much does it cost?</h4>
        <p class="font-size-small font-family-base"><strong>$1,200.</strong><br>This covers the hotel, most meals, some
          activities, the bus ride there and back, plus donations to our partners in New Orleans - Habitat, Hands On,
          and Franklin Avenue Baptist Church. You'll be on your own for five meals, so you'll need to plan to pay for
          those, as well as if you want to buy beads, a King Cake, or a po' boy.</p>
      </div>
      <div class="col-md-4 soft-sides push-bottom mobile-push-sides">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4 push-bottom" style="line-height: .9em;">What
          will we do to prepare for the trip?</h4>
        <p class="font-size-small font-family-base">We will have a series of meetings leading up to the trip, where you
          will learn more about NOLA, learn more about what we are doing, meet others who are going and just have a
          good time. Out-of-town people will have a GO Group Leader assigned to keep them in the loop via email so they
          don’t have to keep coming to the ‘Nati.</p>
      </div>
      <div class="col-md-12 text-center push-bottom"><a href="/reachout/go/faqs/faqs-new-orleans/" class="push-top btn btn-primary btn-sm">View
          all FAQs</a></div>
    </div>
  </div>
</section>
{% include trips/_trips-footer.html %}
<script type="text/javascript">// <![CDATA[
  $('.india').hide();
  $('.bolivia').hide();
  $('.nicaragua').hide();
  $('.south-africa').hide();
  $('.houston').hide();
  $('.button-group').hide();
  $('.nav').hide;
// ]]></script>
