---
layout: no-header-no-footer
title: Nicaragua
permalink: /reachout/go/nicaragua/
trip_location: nicaragua
---

{% include trips/_trips-header.html %}
<div style="margin-top: -12px;">
  <div class="jumbotron" style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-nicaragua.jpg&#039;);">
    <div class="container">
      <div class="row push-top push-bottom soft-sides soft-ends">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 push-top text-center"><img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-logo-nicaragua.png"
            class="imgix-fluid img-responsive" alt="" title=""></div>
        <div class="col-md-10 col-md-offset-1 col-sm-12 push-top text-center"><span class="lead text-white">Build
            critical water systems in small villages, work and laugh alongside local Nicaraguans, meet your sponsored
            child and get overwhelmed with love. Our ties to Nicaragua run deep—and you get to be part of taking new
            ground (and getting a heart-lift in the process). We have trips for medical professionals, families,
            teachers, high schoolers and college students. All trips entail working alongside one of our partners
            building water systems, schools and relationships with the Nicaraguan people.</span></div>
      </div>
    </div>
  </div>
</div>
<div class="container push-ends soft-sides">
  <div class="row soft-sides">
    <div class="col-md-12 text-center">
      <p class="text-center font-size-large font-family-condensed-extra flush-bottom text-muted">FIND YOURS</p>
      <h2 class="text-center font-family-base flush-top font-size-h3">Trips</h2>
    </div>
  </div>
</div>
<p>
    {% include _trip-grid.html %}
</p>
<div>
  <div class="jumbotron text-center soft flush-bottom" style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-go-about-nicaragua.jpg&#039;);">
    <div class="container soft push-ends mobile-hard">
      <div class="row soft push-ends mobile-hard">
        <div class="col-md-offset-1 col-md-10 soft push-ends"><span class="font-size-h3 font-family-accent push-top hidden-xs"
            style="color: #fff; line-height: 1.2em;">“Visiting our Compassion child and seeing the impact of beans and
            rice come to life on the ground in Matilde were experiences humbling us to see how we can make ripple
            effects of Gods love directly from our city all over the world."</span> <span class="font-size-h4 font-family-accent push-top visible-xs"
            style="color: #fff; line-height: 1.2em;">“Visiting our Compassion child and seeing the impact of beans and
            rice come to life on the ground in Matilde were experiences humbling us to see how we can make ripple
            effects of Gods love directly from our city all over the world."</span></div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center push-ends">
          <h3 class="font-family-condensed-extra text-uppercase font-size-h2 $cr-white push-top" style="line-height: .9em; color: #fff;">Change
            that will last</h3>
          <p class="lead white" style="color: #fff;">We partner with organizations to build lasting and effective
            change.</p>
        </div>
      </div>
      <div class="row push-bottom">
        <div class="col-sm-4 soft text-left push-bottom"><a href="https://www.compassion.com/" target="_blank"><img
              class="imgix-fluid img-responsive" alt="" title="" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-nicaragua-compassion.jpg"></a>
          <h4 class="component-header text-white">Compassion International</h4>
          <p class="text-white">At Crossroads, we’re seriously committed to Compassion International and the
            child-advocacy work they so passionately undertake. Their work releases children from spiritual, economic,
            social, and physical poverty. The goal is for each child to become a responsible and fulfilled adult.
            Sponsoring a child is a huge part of this work, and so is visiting your child and taking that relationship
            to a whole new level.</p>
          <a href="https://www.compassion.com/" target="_blank" class="btn btn-white btn-outline">Learn more about
            Compassion International</a>
        </div>
        <div class="col-sm-4 soft text-left push-bottom"><a href="https://amigosforchrist.org/" target="_blank"><img
              class="imgix-fluid img-responsive" alt="" title="" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-nicaragua-amigos.jpg"></a>
          <h4 class="component-header text-white">AMIGOS FOR CHRIST</h4>
          <p class="text-white">Amigos for Christ is a nonprofit organization that develops an intense and effective
            7-year program that facilitates clean water getting into village homes, oral and physical health, community
            education, and economic development in rural Nicaraguan communities. We jump into work with Amigos every
            time we’re on Nicaraguan soil, because we trust and respect the way they’re revitalizing villages in simple
            but powerful ways.</p>
          <a href="https://amigosforchrist.org/" target="_blank" class="btn btn-white btn-outline">Learn more about
            Amigos for Christ</a>
        </div>
        <div class="col-sm-4 soft text-left push-bottom"><a href="http://www.rayodesol.org/" target="_blank"><img class="imgix-fluid img-responsive"
              alt="" title="" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-nicaragua-rayo-del-sol.jpg"></a>
          <h4 class="component-header text-white">RAYO DE SOL</h4>
          <p class="text-white">Rayo de Sol is a non-denominational, Christian organization sharing hope with children
            in Nicaragua through creative programming in education, nutrition, healthcare and community development.
            Our Crossroads partnership with Raya de Sol is critical to our educators-focused trip, allowing us to
            create cross-cultural relationships and share best practices in a whole new way.</p>
          <a href="http://www.rayodesol.org/" target="_blank" class="btn btn-white btn-outline">Learn more about Rayo
            de Sol</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray">
  <div class="container soft-ends">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="font-family-condensed-extra text-uppercase font-size-h2 push-top">Take a look at the change you can be a part of.</h3>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="embed-responsive embed-responsive-16by9 push-ends">
          <iframe width="1461" height="625" src="https://www.youtube.com/embed/t6hLW3BUB9A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container push-ends">
    <div class="row push-ends">
      <div class="col-md-12 text-center push-bottom">
        <p class="text-center font-size-large font-family-condensed-extra flush-bottom text-muted">FAQS</p>
        <h2 class="text-center font-family-base flush-top font-size-h3">You have questions? We have answers.</h2>
      </div>
      <div class="col-md-4 soft-sides push-bottom mobile-soft-top">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4" style="line-height: .9em;">Is it safe to
          travel?</h4>
        <p class="font-size-small font-family-base"><span>Traveling internationally always has some level of risk and
            we don’t take that likely. Because of the recent political unrest in Nicaragua, the United States
            government has Nicaragua listed as a travel advisory three. With this information, we rely heavily on the
            partners who are living and working in Nicaragua every day to guide us and to provide us with accurate
            information. They have told us that roads have been clear and no violence has been seen where they are
            located in over six months. They are able to work and live like they had before the unrest started and are
            ready to host groups in 2019. We also have multiple plans in place in the event of an unforeseen situation.</span></p>
      </div>
      <div class="col-md-4 soft-sides push-bottom">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4" style="line-height: .9em;">Can I see my kid
          that I sponsor through Compassion?</h4>
        <p class="font-size-small font-family-base">Yes! We are setting one day aside for everyone to spend time with
          their sponsored child (or children). How sweet is that? Don't worry, Compassion will also have translators on
          site to help comprendes espanol. (AKA, understand Spanish)</p>
      </div>
      <div class="col-md-4 soft-sides push-bottom">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4" style="line-height: .9em;">Can I go if I
          don’t sponsor a child in Nicaragua?</h4>
        <p class="font-size-small font-family-base">Yes, we’d love to have you on the trip.</p>
      </div>
      <div class="col-md-12 text-center push-bottom"><a href="/reachout/go/faqs/faqs-nicaragua/" class="push-top btn btn-primary btn-sm">View
          all FAQs</a></div>
    </div>
  </div>
</section>
{% include trips/_trips-footer.html %}
