---
layout: no-header-no-footer
title: November Trip
permalink: /reachout/go/south-africa/november-trip3/
---

{% include trips/_trips-header.html %}

    <div class="jumbotron" style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-go-trip-south-africa10-lg.jpg&#039;); margin-top: -12px;">
      <div class="container">
        <div class="row soft-sides soft-ends">
          <div class="col-md-offset-5 col-md-2 col-sm-offset-4 col-sm-4 push-top text-center"><img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-logo-SA.png" class="imgix-fluid img-responsive" alt="" title=""></div>
        </div>
      </div>
    </div><div class="container push-ends">
      <div class="row">
        <div class="col-md-3">
          <h2 class="font-family-condensed-extra text-uppercase" style="line-height: .9em;">South Africa<br><span style="color: #979797;">Build the Future<br>Durban Trip</span></h2>
          <p class="font-family-base push-half-top">When: 11/16/2018 - 11/25/2018<br>Cost: $3200</p>
          <a href="https://www.crossroads.net/trips/2590" class="btn btn-primary">Sign up</a></div>
          <div class="col-md-9 soft-sides push-ends">
            <p class="lead">Make plans this Thanksgiving to spend it giving back. Be part of our inaugural GO trip to Durban, South Africa to work with our partner, Build The Future. Be the first to experience the warm waters of the Indian Ocean, the beautiful countryside of KwaZulu Natal and work at the Build The Future pre schools in Ndwedwe. These are two of the newer preschools that need infrastructure work - like painting murals on containers and walls, planting food gardens to help with the feeding, putting up fencing or playground equipment. There’s always time to help cook lunch for the kids and spend some time with them playing and in the classroom. End the week enjoying some sea and sun fun and the beauty of the Dolphin Coast.</p>
            <div class="row"><hr><div class="col-md-6 push-bottom">
              <p class="font-family-base"><strong>Trip Details:</strong><br> Sign Up Deadline: 08/13/2018<br> Deposit: $300<br> Size of Trip: 25<br> Minimum Age: 13<br> Background Check Required<br>Total Cost: $3200</p>
              <a href="https://www.crossroads.net/trips/2590" class="btn btn-primary">Sign up</a></div>
            </div>
          </div>
        </div>
      </div>

      {% include trips/_trips-footer.html %}
