---
layout: no-header-no-footer
title: October Nepal Trip
permalink: /reachout/go/india/october-nepal-trip/
---

{% include trips/_trips-header.html %}
<div style="margin-top: -12px;">
  <div
    class="jumbotron"
    style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-go-trip-india8b-lg.jpg&#039;);"
  >
    <div class="container">
      <div class="row soft-sides soft-ends">
        <div
          class="col-md-offset-5 col-md-2 col-sm-offset-4 col-sm-4 push-top text-center"
        >
          <img
            data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-logo-india.png"
            class="imgix-fluid img-responsive"
            alt=""
            title=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container push-ends">
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <h2
        class="font-family-condensed-extra text-uppercase"
        style="line-height: .9em;"
      >
        India<br /><span style="color: #979797;">Nepal Men's Trip</span>
      </h2>
      <p class="font-family-base push-half-top">
        When: 10/13/2018 - 10/23/2018<br />Cost: $3400
      </p>
      <a href="https://www.crossroads.net/trips/2587" class="btn btn-primary"
        >Sign up</a
      >
    </div>
    <div class="col-sm-9 col-md-9 soft-sides push-ends">
      <p class="lead">
        <strong
          >This trip is FULL and no longer accepting sign ups. If you are
          interested in being placed on a waiting list, please email
          <a href="mailto:goindia@crossroads.net">goindia@crossroads.net</a
          >.</strong
        >
      </p>
      <p class="lead">
        An adventure for men who seek justice for the oppressed. This is an
        inaugural GO Nepal Trip, where a group of men will be trekking in the
        Himalayas and supporting our new partner in Nepal. This organization
        works in rural village communities that suffer from poverty and
        exploitation, where many girls fall victim to human trafficking. We will
        support their work, which enables these villages to achieve a better
        future and transform the region. The community projects vary based on
        the needs of the villages at the time. In the past teams have helped
        build fish farms, taught english classes, and supported local
        businesses. This trip will support the ultimate mission to eliminate
        human trafficking in these highly vulnerable areas.
      </p>
      <div class="bg-gray soft push-ends">
        <p class="metadata"><strong>Special Considerations:</strong></p>
        <ul>
          <li>
            This trip will include moderately strenuous hiking at altitudes up
            to 15,000 ft (roughly half the oxygen where most of us live).
          </li>
          <li>
            To be eligible for this trip, you will need to provide clearance
            from your medical provider, indicating your body can handle trekking
            4-10 miles per day with altitude changes of 2000-4000 ft per day.
          </li>
          <li>
            This trip will include some mandatory training to prepare for the
            physical exertion.
          </li>
        </ul>
      </div>
      <div class="row">
        <hr />
        <div class="col-sm-6 col-md-6 push-bottom">
          <p class="font-family-base">
            <strong>Trip Details:</strong><br />
            Sign Up Deadline: 6/30/2018<br />
            Deposit: $300<br />
            Size of Trip: 32<br />
            Minimum Age: 18<br />
            Background Check Required<br />Men Only<br />
            Total Cost: $3400
          </p>
          <a
            href="https://www.crossroads.net/trips/2587"
            class="btn btn-primary"
            >Sign up</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% include trips/_trips-footer.html %}

