---
layout: no-header-no-footer
title: October Trip 2 2019
permalink: /reachout/go/india/october-trip-2-2019/
latitude: 19.078223
longitude: 72.877914
---

{% include trips/_trips-header.html %}
<div class="jumbotron jumbotron-xl" style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-go-trips-bg-IND-trip2.jpg&#039;); margin-top: -12px; padding-bottom: 0px;">
  <div class="jumbtron-content" style="bottom: 0; width: 100%; padding: 30px; background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);">
    <div class="container push-top soft-top">
      <div class="row soft-top text-left push-top">
        <div class="col-sm-10 col-sm-offset-1 push-top">
          <h1 class="font-family-condensed-extra text-uppercase" style="line-height: .9em;"><strong>India</strong><br>
            Mumbai / October</h1>
          <span class="font-family-base font-size-base push-half-top">10/26/19-11/5/19</span>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 push-ends">
        <div class="soft-bottom">
          <ul class="nav nav-tabs font-size-small" role="tablist">
            <li role="navigation" style="float: none; display: inline-block;" class="active"><a href="#overview"
                aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
            <li role="navigation" style="float: none; display: inline-block;"><a href="#itinerary" aria-controls="intinerary"
                role="tab" data-toggle="tab">Itinerary</a></li>
            <li role="navigation" style="float: none; display: inline-block;"><a href="#lodging" aria-controls="lodging"
                role="tab" data-toggle="tab">Lodging</a></li>
            <li role="navigation" style="float: none; display: inline-block;"><a href="#partner" aria-controls="partner"
                role="tab" data-toggle="tab">Partner</a></li>
          </ul>
          <div class="tab-content push-top">
            <div role="tabpanel" class="tab-pane in active" id="overview">
              <div class="row">
                <div class="col-sm-12 push-ends">
                  <p class="lead">Here’s where you make impossible dreams come true. You’ll be the adventure team who
                    takes girls who’ve been rescued from sex trafficking and give them the chance to explore new
                    landscapes way outside their city—an experience that’s usually reserved for only the wealthiest,
                    and certainly not victims of extreme poverty and abuse. In this fresh environment, you’ll introduce
                    the girls to playing in the wild, rappelling/rock climbing, rafting rivers, and finding meaningful
                    new levels of friendships. You’ll also get to experience an immersive prayer walk through Mumbai’s
                    red light district, taking part in the spiritual battle that we all get to join. Go home changed
                    and re-committed to the justice work that won’t slow down until all are free.</p>
                  <a href="https://www.crossroads.net/trips/2601" class="btn btn-primary btn-lg">Sign up</a>
                </div>
              </div>
              <div class="row">
                <hr>
                <div class="col-sm-6 push-ends">
                  <p class="metadata">Trip Details</p>
                  <p class="font-size-base"><strong>Sign Up Deadline</strong>: 6/24/2019 <br><strong>When</strong>:
                    10/26/19-11/5/19 <br><strong>Deposit</strong>: $300 <br><strong>Size of Trip</strong>: 25 <br><strong>Minimum
                      Age</strong>: 16 <br><strong>Restrictions</strong>: Background Check Required <br><strong>Total
                      Cost</strong>: $3400 (Don't worry. <a href="https://www.crossroads.net/reachout/go/support-raising">Check
                      this out.</a>)</p>
                  <a href="https://www.crossroads.net/trips/2601" class="btn btn-primary">Sign up</a>
                </div>
                <div class="col-sm-6 soft-top" style="min-height: 365px;">
                  {% include _reachout-google-map.html %}
                </div>
              </div>
              <div class="row">
                <hr>
                <div class="col-sm-12 push-top">
                  <p class="metadata">Frequently Asked Questions</p>
                </div>
                <div class="col-sm-6 push-bottom">
                  <h4 class="font-family-condensed-extra text-uppercase font-size-h4 push-bottom" style="line-height: .9em;">How
                    much does it cost?</h4>
                  <p class="font-size-small font-family-base"><strong>$3,400.</strong><br>That may sound like a lot,
                    but you should know this covers everything (flight, hotel, meals, activities, etc.), and this is a
                    number you’re meant to tackle with your friends and family.<br>Of all of our trip participants,
                    only 5% have had to contribute to their own trip.<br><a href="/reachout/go/support-raising/">Get
                      ideas for support raising</a></p>
                </div>
                <div class="col-sm-6 push-bottom">
                  <h4 class="font-family-condensed-extra text-uppercase font-size-h4 push-bottom" style="line-height: .9em;">What
                    is the travel like?</h4>
                  <p class="font-size-small font-family-base">It takes over 24 hours to get there and we fly on a
                    commercial airline. Listen to all of your favorite Spotify playlists twice, catch up on sleep, talk
                    to your traveling companions, sleep some more, read, watch movies on your 21st century in-seat
                    entertainment system, or just do nothing…which you probably haven’t done in a long time.</p>
                </div>
                <div class="col-sm-12"><a href="https://www.crossroads.net/reachout/go/faqs/faqs-india/" class="btn btn-gray">View
                    all FAQs</a>   <a class="link" href="mailto:gotrips@crossroads.net">Ask us a question</a></div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="itinerary">
              <div class="row push-half-bottom push-top soft-top">
                <div class="col-sm-3">
                  <h4 class="font-family-condensed-extra text-uppercase font-size-h3 flush-top">Day 1</h4>
                </div>
                <div class="col-sm-9">
                  <p class="font-size-base push-quarter-top">Depart US</p>
                </div>
              </div>
              <hr>
              <div class="row push-ends">
                <div class="col-sm-3">
                  <h4 class="font-family-condensed-extra text-uppercase font-size-h3 flush-top">Day 2</h4>
                </div>
                <div class="col-sm-9">
                  <p class="font-size-base push-quarter-top">Arrive in Mumbai, India</p>
                </div>
              </div>
              <hr>
              <div class="row push-ends">
                <div class="col-sm-3">
                  <h4 class="font-family-condensed-extra text-uppercase font-size-h3 flush-top">Day 3</h4>
                </div>
                <div class="col-sm-9">
                  <p class="font-size-base push-quarter-top">Acclimation Day: Mumbai Darshan sightseeing, Bollywood
                    dancing</p>
                </div>
              </div>
              <hr>
              <div class="row push-ends">
                <div class="col-sm-3">
                  <h4 class="font-family-condensed-extra text-uppercase font-size-h3 flush-top">Day 4</h4>
                </div>
                <div class="col-sm-9">
                  <p class="font-size-base push-quarter-top">Travel to Camp! Adventure Camp (Day 1)</p>
                </div>
              </div>
              <hr>
              <div class="row push-ends">
                <div class="col-sm-3">
                  <h4 class="font-family-condensed-extra text-uppercase font-size-h3 flush-top">Day 5-6</h4>
                </div>
                <div class="col-sm-9">
                  <p class="font-size-base push-quarter-top">Adventure Camp (Day 2-3)</p>
                </div>
              </div>
              <hr>
              <div class="row push-ends">
                <div class="col-sm-3">
                  <h4 class="font-family-condensed-extra text-uppercase font-size-h3 flush-top">Day 7</h4>
                </div>
                <div class="col-sm-9">
                  <p class="font-size-base push-quarter-top">Adventure Camp (Day 4); Return to Mumbai</p>
                </div>
              </div>
              <hr>
              <div class="row push-ends">
                <div class="col-sm-3">
                  <h4 class="font-family-condensed-extra text-uppercase font-size-h3 flush-top">Day 8</h4>
                </div>
                <div class="col-sm-9">
                  <p class="font-size-base push-quarter-top">Attend Local Indian Church</p>
                </div>
              </div>
              <hr>
              <div class="row push-ends">
                <div class="col-sm-3">
                  <h4 class="font-family-condensed-extra text-uppercase font-size-h3 flush-top">Day 9</h4>
                </div>
                <div class="col-sm-9">
                  <p class="font-size-base push-quarter-top">Visit JA office, shopping; Depart Mumbai</p>
                </div>
              </div>
              <hr>
              <div class="row push-ends">
                <div class="col-sm-3">
                  <h4 class="font-family-condensed-extra text-uppercase font-size-h3 flush-top">Day 10</h4>
                </div>
                <div class="col-sm-9">
                  <p class="font-size-base push-quarter-top">Arrive home</p>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="lodging">
              <div class="row">
                <div class="col-sm-12 col-md-push-6 col-md-6 push-top"><img class="imgix-fluid img-responsive" alt=""
                    title="" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-india-mumbai-adventure-camp.jpg"></div>
                <div class="col-sm-12 col-md-pull-6 col-md-6">
                  <p class="font-size-base push-top">While in Mumbai, the team will stay at a ‘western-style’ hotel in
                    the heart of the city. The hotel will have all basic amenities, air conditioning, and a generous
                    breakfast buffet. While traditional indian dishes are highlighted, simple breakfast foods are also
                    available. <br><br>While at the adventure camp, the team will be bunking in ‘cabins’ much like
                    summer camp you may recall from your youth. These “glamping” structures are usually permanent
                    canvas tents, fully enclosed with air-conditioning, electric and plumbing. Each cabin tent will
                    have a private bathroom and plenty of room for stretching out and relaxing after a day of
                    adventure.</p>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="partner">
              <div class="row">
                <div class="col-sm-12 col-md-push-6 col-md-6 push-top"><img class="imgix-fluid img-responsive" alt=""
                    title="" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-india-jeevan-aadhar.jpg"></div>
                <div class="col-sm-12 col-md-pull-6 col-md-6">
                  <h4 class="component-header"><a href="http://jeevan-aadhar.org/" target="_blank">Jeevan Aadhar</a></h4>
                  <p>Jeevan Aadhar (JA) is an Indian company with a heart. For years, JA has provided highest quality
                    aftercare services for survivors of child sexual exploitation. Their philosophy is that with care,
                    time and community support, these girls are able to recover and thrive – living full, restored,
                    reintegrated lives. Their family style homes empower survivors to heal physically and emotionally
                    in a secure environment. Now, JA is expanding it's work to implement cutting edge child sexual
                    abuse prevention training through a partnership with the most successful prevention organization in
                    the U.S: Darkness2Light. The United Nations recognized D2L's effectiveness in this field and now
                    D2L and Jeevan Aadhar are working to "Indianize" D2L's ‘Stewards of Children’ program into the
                    Indian cultural context.</p>
                  <a href="http://jeevan-aadhar.org/" class="btn btn-primary" target="_blank">Learn more about Jeevan
                    Aadhar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include trips/_trips-footer.html %}
{% javascript_link_tag reachout-trip %}
