---
layout: no-header-no-footer
title: October Trip
permalink: /reachout/go/india/october-trip/
---

{% include trips/_trips-header.html %}
<div style="margin-top: -12px;">
<div class="jumbotron" style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-go-trip-india2b-lg.jpg&#039;);">
<div class="container">
<div class="row soft-sides soft-ends">
<div class="col-md-offset-5 col-md-2 col-sm-offset-4 col-sm-4 push-top text-center"><img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-logo-india.png" class="imgix-fluid img-responsive" alt="" title=""></div>
</div>
</div>
</div>
</div><div class="container push-ends">
<div class="row">
<div class="col-md-3">
<h2 class="font-family-condensed-extra text-uppercase" style="line-height: .9em;">India<br><span style="color: #979797;">Kolkata Men's Trip</span></h2>
<p class="font-family-base push-half-top">When: 10/20/2018 - 10/30/2018<br>Cost: $3200</p>
<a href="https://www.crossroads.net/trips/2564" class="btn btn-primary">Sign up</a></div>
<div class="col-md-9 soft-sides push-ends">
<p class="lead">Kolkata Men's Trip: An adventure for men who seek justice for the poor and oppressed. You will visit &amp; support freedom businesses located in the heart of the red light district, who provide viable employment to survivors of human trafficking. The work varies depending on the needs of our partners, but generally involves a lot of sweat, tears, laughter and seeing the amazing story of redemption happening through our partners. Half the time will be manual labor (all skill levels needed), the other half building into boys at Premenand Home.</p>
<div class="row"><hr><div class="col-md-6 push-bottom">
<p class="font-family-base"><strong>Trip Details:</strong><br> Sign Up Deadline: 6/4/2018<br> Deposit: $300<br> Size of Trip: 25<br> Minimum Age: 13<br> Background Check Required<br>Skilled Labor<br>IT Background<br>Men Only<br> Total Cost: $3200</p>
<a href="https://www.crossroads.net/trips/2564" class="btn btn-primary">Sign up</a></div>
</div>
</div>
</div>
</div>
{% include trips/_trips-footer.html %}
