---
layout: no-header-no-footer
title: October Trip
permalink: /reachout/go/bolivia/october-trip/
---

{% include trips/_trips-header.html %}

<div style="margin-top: -12px;">
<div class="jumbotron jumbotron-sm" style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-go-trip-bolivia3-lg.jpg&#039;);">
<div class="container">
<div class="row soft-sides soft-ends">
<div class="col-md-offset-5 col-md-2 col-sm-offset-4 col-sm-4 push-top text-center"><img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-logo-bolivia.png" class="imgix-fluid img-responsive" alt="" title=""></div>
</div>
</div>
</div>
</div><div class="container push-ends">
<div class="row">
<div class="col-md-3">
<h2 class="font-family-condensed-extra text-uppercase" style="line-height: .9em;">Bolivia<br><span style="color: #979797;">Compassion Trip</span></h2>
<p class="font-family-base push-half-top">When: 10/11/2018 - 10/18/2018<br>Cost: $2400</p>
<a href="https://www.crossroads.net/trips/2572" class="btn btn-primary">Sign up</a></div>
<div class="col-md-9 soft-sides push-ends">
<p class="lead">Join us as we work alongside our partner Agua Yaku by building relationships, providing clean water through filter distribution, and spending time with the wonderful people of Bolivia. In addition, you will spend time meeting your Compassion International child and experiencing how they live each and every day.</p>
<div class="row"><hr><div class="col-md-6 push-bottom">
<p class="font-family-base"><strong>Trip Details:</strong><br> Sign Up Deadline: 5/26/2018<br> Deposit: $300<br> Size of Trip: 35<br> Minimum Age: 10<br> Background Check Required<br> Total Cost: $2400</p>
<a href="https://www.crossroads.net/trips/2572" class="btn btn-primary">Sign up</a></div>
</div>
</div>
</div>
</div>
{% include trips/_trips-footer.html %}
