---
layout: no-header-no-footer
title: Puerto Rico
permalink: /reachout/go/puerto-rico/
trip_location: puerto-rico
---

{% include trips/_trips-header.html %}
<div style="margin-top: -12px;">
  <div class="jumbotron" style="background-image: url(&#039;//crds-cms-uploads.imgix.net/content/images/crossroads-go-header-imgs-puerto-rico.jpg&#039;);">
    <div class="container">
      <div class="row push-top push-bottom soft-sides soft-ends">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 push-top text-center"><img data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-go-logo-puerto-rico.png" class="imgix-fluid img-responsive" alt="" title=""></div>
        <div class="col-md-10 col-md-offset-1 col-sm-12 push-top text-center"><span class="lead text-white">Join us as we work with our partners to rebuild homes, support the day to day needs of communities that have experienced great loss, and bring hope to families whose lives have been forever changed by devastating hurricanes. Each trip is different as you lay the groundwork in Puerto Rico to establish long-term relationships with partners and assess the changing needs there. You’ll get a front-row seat to experiencing life transformation in the lives of the communities you serve, and also in yourself.</span></div>
      </div>
    </div>
  </div>
</div>
<div class="container push-ends soft-sides">
  <div class="row soft-sides">
    <div class="col-md-12 text-center">
      <p class="text-center font-size-large font-family-condensed-extra flush-bottom text-muted">FIND YOURS</p>
      <h2 class="text-center font-family-base flush-top font-size-h3">Trips</h2>
    </div>
  </div>
</div>
<p>
    {% include _trip-grid.html %}
</p>

<section>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center push-ends">
          <h3 class="font-family-condensed-extra text-uppercase font-size-h2 $cr-white push-top" style="line-height: .9em; color: #fff;">Change
            that will last</h3>
          <p class="lead white" style="color: #fff;">We partner with organizations to build lasting and effective
            change.</p>
        </div>
      </div>
      <div class="row push-bottom">
        <div class="col-sm-6 soft push-bottom">
          <a href="http://www.hungercorp.org/" target="_blank"><img class="imgix-fluid img-responsive" alt="" title="" data-src="//crds-cms-uploads.imgix.net/content/images/crossroads-puerto-rico-partner2.jpg"></a>
        </div>
        <div class="col-sm-6 soft text-left push-bottom">
          <h4 class="component-header text-white text-uppercase">Hunger Corp</h4>
          <p class="text-white">Hungercorp has proven to be an amazing organization. Hunger has a bold vision in Puerto Rico and all over the Americas they work to move a generation towards service work. Their love for their neighbors is what fuels their work and is contagious to those that partner with them. By working with Hunger, you’ll find yourself working in a small community in Puerto Rico called “La Hormiga.” Work could look like building a house from scratch, to taking down parts damaged by hurricanes and building them to code. Hunger is focused on putting as much effort into the details of the projects they work on, as in the people they build into. Their model is one that is changing the way Christian organizations work in Puerto Rico and beyond, for the better.</p>
          <a href="http://www.hungercorp.org/" target="_blank" class="btn btn-white btn-outline">Hunger Corp</a>
        </div>

      </div>
    </div>
  </div>
</section>
<section>
  <div class="container push-ends">
    <div class="row push-ends">
      <div class="col-md-12 text-center push-bottom">
        <p class="text-center font-size-large font-family-condensed-extra flush-bottom text-muted">FAQS</p>
        <h2 class="text-center font-family-base flush-top font-size-h3">You have questions? We have answers.</h2>
      </div>
      <div class="col-md-4 soft-sides push-bottom mobile-soft-top">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4" style="line-height: .9em;">Where are we headed?</h4>
        <p class="font-size-small font-family-base"><span>The Enchanted Island - Puerto Rico. Specifically, we will be touring Isla Verde as we arrive just to grab a quick bite. We will then head to Vega Alta/Dorado area, where will stay/work respectively with our partner organization Hungercorp. Hunger is a pretty well established organization working to transform Puerto Rico and this generation.</span></p>
      </div>
      <div class="col-md-4 soft-sides push-bottom">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4" style="line-height: .9em;">Why are we going?</h4>
        <p class="font-size-small font-family-base">The year after Hurricanes Irma and Maria, a group of Crossroads folks (34 people) decided to travel to Puerto Rico following a prompt from God. The opportunity to help was there, the transformation experienced by the folks was out of this world. God was clearly setting the stage for work that would last several years and would start a partnership that would turn into a deep friendship. We can’t wait to see what happens next.</p>
      </div>
      <div class="col-md-4 soft-sides push-bottom">
        <h4 class="font-family-condensed-extra text-uppercase font-size-h4" style="line-height: .9em;">How much does it cost?</h4>
        <p class="font-size-small font-family-base">$1,300. This covers your flight, room and board, work supplies, and meals on the ground (meals at the airport,free day, vaccinations, and souvenirs are not covered).</p>
      </div>
      <div class="col-md-12 text-center push-bottom">
        <a href="/reachout/go/faqs/faqs-puerto-rico/" class="push-top btn btn-primary btn-sm">View all FAQs</a>
      </div>
    </div>
  </div>
</section>
{% include trips/_trips-footer.html %}
