---
layout: container-fluid
title: Spark
permalink: /spark/
masonry_js: true
---

{% include _preloader.html %}
<p class="sparkmetadesc hidden">Starting July 7. All you need is a spark.</p>
<section class="bg-charcoal">
  <div class="container">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="embed-responsive embed-responsive-16by9"><iframe width="320" height="240" src="https://www.youtube.com/embed/zWR-Ug_XGKU?showinfo=0"
          frameborder="0" allowfullscreen=""></iframe></div>
    </div>
    <div class="col-sm-8 col-sm-offset-2 text-center soft push-ends">
      <h1 class="font-family-condensed-extra text-uppercase text-white flush-top" style="line-height: .9em;">Spark:
        Ideas to ignite your life</h1>
      <p class="lead text-gray-light" style="line-height: 1.3em;">Life can get dry and stale, but we are surrounded by
        ideas that can change us. It's time to ignite your life. All you need is a spark.</p>
    </div>
  </div>
</section>
<section ng-non-bindable="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="flush-bottom section-header">Spark Talks</p>
      </div>
    </div>
  </div>
  <div class="text-center soft-half-ends button-group filters-button-group"><button class="button is-checked btn btn-sm btn-outline btn-gray push-half-bottom"
      data-filter="*">View all</button> <button class="button btn btn-sm btn-outline btn-gray push-half-bottom"
      data-filter=".most-watched">Most Watched</button> <button class="button btn btn-sm btn-outline btn-gray push-half-bottom"
      data-filter=".season-1">Season 1</button> <button class="button btn btn-sm btn-outline btn-gray push-half-bottom"
      data-filter=".season-2">Season 2</button> <button class="button btn btn-sm btn-outline btn-gray push-half-bottom"
      data-filter=".season-3">Season 3</button></div>
  <div class="container">
    <div class="grid trip-content-grid">
      <div class="grid-sizer col-xs-12 col-sm-4 col-md-3"></div>
      {% include spark/_allgotrips.html %}
    </div>
  </div>
</section>

